body {
    background-color: #EBD0F5;
}

.navbar {
    background-color: #5e17eb;
     !important
}

.cabeza {
    background-color: #5e17eb;
    height: 100%;
    width: 70%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.imagen {
    width: 500px;
    height: 500px;
    background-image: url(../img/ARG.jpg);
}

.rrss {
    width: 70%;
    margin-left: 15%;
}

.rrss button {
    height: 70px;
    width: 50%;
    margin-left: 25%;
    background-color: #E3E5FF;
}

.curriculum {
    width: 70%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper button {
    height: 75px;
    width: 150px;
    margin-left: 25%;
    background-color: #E3E5FF;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1;
    grid-row: 1;
}
.two{
    grid-column: 2;
    grid-row: 1;
}
.wrapper a{
    margin-left: 15%;
}
.resumen{
    width: 70%;
    margin-left: 15%;
}
footer{
    height: 150px;
    background-color: #9C75EB;
    margin-top: 2%;
}
.flex-row {
    display: flex;
    flex-direction: row;
    height: 150px;
    box-shadow: 0 0 14px gainsboro;
}
.justify-content-center{
    justify-content: center;
}
.caja{
    margin: 40px;
}
